.page-header {
	color: rgb(253, 250, 250);
	background-color: #929496;
	text-align: center;
	font-size: 30px;
	height: 100px;
	padding: 8px;
	margin: auto;
	width: 100%;
}

.form-control form-control-sm ml-3 w-75 {
	float: left;
}

#city-weather {
	height: 400px;
	margin: auto;
	position: right;

	border-color: 5 px solid cornflowerblue;
	border: 3px;
}

#five-day {
	height: 200px;
	border: 5 px solid blueviolet;
	position: right;
}
